<%- include('header') -%>

<h2>This is the about page</h2>

<p>aopwhgapoiwehgwiohtao awpiohtapwoiehaew opihawepot awehtoaewtoiawehtpowi hgpoaawhgpoawh aopiehgwaeopth awepoh awoptihaewohtaewiothwea oithaew</p>

<%- include('footer') -%>
